🔁 <b>Встреча перенесена.</b>
{% if previous_start_time %}Было: {{ previous_start_time }}
{% endif %}{% if start_time %}Новое время: {{ start_time }}
{% endif %}{% if meeting_url %}Ссылка: {{ meeting_url }}
{% endif %}
