📅 <b>Новая встреча забронирована.</b>
{% if start_time %}Начало: {{ start_time }}
{% endif %}{% if end_time %}Окончание: {{ end_time }}
{% endif %}{% if organizer_name %}Организатор: {{ organizer_name }}
{% endif %}{% if meeting_url %}Ссылка: {{ meeting_url }}
{% endif %}
